<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Inventory</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Inventory Management</h1>

		<a class="btn" th:href="@{/store-owner-page/inventory/add}">Add Inventory</a>

        <br><br>

        <table>
            <tr>
                <th>Inventory ID</th>
                <th>ISBN</th>
                <th>Rank</th>
                <th>Condition</th>
                <th>Price</th>
                <th>Purchased</th>
            </tr>
            <tr th:each="item : ${inventoryList}">
                <td th:text="${item.inventoryId}"></td>
                <td th:text="${item.isbn}"></td>
                <td th:text="${item.rank}"></td>
                <td th:text="${item.condition}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.purchased}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>